# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/
dist/

# .NET build output
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/

# SQLite & Temp DB files
*.db-shm
*.db-wal

# Temporary / Scratch
temp_*
scratch/
*.log
